body{
    margin:0;
    padding:0; 
}
h1{
    position: fixed;
}
img{
    position: absolute;
    /* display: block; */
    margin-left:2%;
    margin-right: auto;
    width: 50%;


}
.img-thumbnail{
	padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
	margin-left: 15%;
    width: 48%;
	height: 35%;

}
.col-8{
    margin-left:40%;
}

#kanan{
    margin-left: 40%;
}

#kiri{
    margin-left: 35%;
}
.second-judul, .judul{
    font-size:200%;
    font-family: sans-serif;
    font-weight: 700;
}
.utility{
    margin-left:10%
}
.refresh{
    margin-left:20%;
    cursor: no-drop;
}
button{
    /* margin-top: 2%; */
    width: 30%;
    height: 100%;
    margin-left: auto;

}
.pic{
    width: auto;
    margin-left: 10%;

}
hr{
    width:50%;
    margin: auto;
    color: rgb(26, 54, 179);
}
.cam{
    text-align:center;
    /* margin-left: 20%; */
}
a{
    text-decoration: none;
    color: white;
}
source{
    margin-top:20%;
    position: fixed;
}
button:hover {
    box-shadow: 30%;  
    transform: scale(1.3)
 }
.jumbotron{
    margin-top: auto;
    margin-bottom: 10%;
    margin-left: 15%;
    margin-right: auto;
}
.container{
    /* position: initial; */
    margin-top: 20%;
    border: 2px dashed green;
    /* margin-left: 10%; */
    width:50%;
    justify-content:center;
}
.img-fluid{
    position: fixed;
    margin-top: 4%;
    margin-left: 28%;
    margin-right: 30%;
} 
footer{
    width:auto;
    margin-top:4%;
     background-color:rgb(113, 113, 173);
     color: white;
     text-align:center;
     font-family: monospace;
     padding-top: 2%;
     padding-bottom: 2%;

 }
 .foo{
    font-family: sans-serif;
    font-size: 100%;
 }
/* Mobile */
/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576.98px) {
    /*  */
 }

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768.98px) {

    .judul{
        font-size: 100%;
        position: relative;
    }
    .spinner-grow{
        width: 5%;
        height:5%;
    }
    .second-judul{
        padding-top: 5%;
        font-weight: 200;
        font-size: 100%;
    }
    hr{
        width:80%;
        margin: auto;
        color: rgb(26, 54, 179);
    }
    button:hover {
        box-shadow: 10%;  
        transform: scale(1.2)
     }
    .container{
        position:absolute;
        margin-top:40%;
        border: 2px dashed green;
        /* margin-left: 10%; */
        width:100%;
        justify-content:center;
    }

    button{
        /* margin-top: 2%; */
        width: 50%;
        height: 100%;
        margin-left: auto;
    
    }
    img{
        position:absolute;
        /* display: block; */
       /* padding-left:30%; */
        width: 90%;
        height:20%;
        margin-left:-18%;
        padding-left:auto;
    
    }
    .img-fluid{
        /* position: absolute; */
        margin-top:10%;
        margin-left:auto;
        margin-right:auto;
        padding: auto;
    } 
    .col-8{
        margin-left:30%;
    }
    #maju, #mundur{
        padding-left:5%;
    }
    #kanan{
        margin-left: 40%;
        /* padding-left: 10%; */
    }
    
    #kiri{
        margin-left: 10%;
    }
    #berhenti{
        margin-left: -5%;
    }
    .refresh{
        margin-top: -20%;
        margin-left: 50%;
    }
    .utility{
        margin-left:5%;
    }
    footer{
        margin-top: 125%;
        position:absolute;
        text-align:center;
        font-family: monospace;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .foo{
        font-family: sans-serif;
        font-size: 90%;
     }
     .img-thumbnail{
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    margin-left: -10%;
    width: 93%;
    height: 23%;
     }
 }

/* // Large devices (desktops, 992px and up) */
@media (max-width: 991.98px) { 
    /*  */
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1199.98px) { 
    /*  */
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1399.98px) { 
    /*  */
 }