/*CSS Halaman*/
* {
 margin:0;
 padding:0;
}

.wrapper{
 background: lightskyblue;
 width: 1350px;
 margin: 10px auto;
 font-family: "Lato", sans-serif;
}

/*css header*/
.wrapper .header{
 background: #f44336!important;
 height: 50px;
 padding: 10px 10px;
 color: white;
 text-align: center;
 padding: 50px 20px 20px 20px;
}
/*batas css header*/

/*css menu*/
.wrapper .menu{
 background: #f44336!important;
}

.wrapper .menu ul{
 padding: 0;
 margin: 0;
 background: #f44336!important;
 overflow: hidden;

}

.wrapper .menu ul li{
 float: left;
 list-style-type: none;
 padding: 10px;
}

.wrapper .menu ul li a{
 text-decoration: none;
 color: white;
 padding-left: 45px;
}
/*batas css menu*/

/*css sidebar-content*/
.sidebar-content{
 height: 490px;
}

/*css sidebar*/
.wrapper .sidebar-content .sidebar{
 background: #f44336!important;
 
 float: left; 
 width: 75%;
 height: 100%;
}

.wrapper .sidebar-content .sidebar p {
 text-align: center;
 margin: 20px;
}

/*batas css sidebar*/
.wrapper .sidebar-content .content{
 background: #f44336!important;
 
 float: left;
 height: 100%;
 width: 25%; 
}

.wrapper .sidebar-content .content a {
 background-color: black;
 color: white;
 margin: 20px;
 text-align: justify;
}

/*batas css sidebar-content*/
.wrapper .footer{
 padding: 10px;
 background-color: black;
 color: white;
 text-align: center;
}